﻿@using PR_57_2016.Models;
@{ 
    Korisnik user = (Korisnik)Session["US"];
}
<!DOCTYPE html>
<style>
    .nav-item a:hover{
        text-decoration:none;
    }
    .nav-item mr-sm-3 a:hover{
        text-decoration:none;
    }
    .btn-danger a:hover {
        text-decoration: none
    }
    .btn-danger a{
        color:white;
    }
   
</style>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSTickets</title>
    @Styles.Render("~/Content/bootstrap-cosmo.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        @{if (user == null || user.LoggedIn == false) {
                <a class="navbar-brand"   href="http://localhost:50970/Home/Index">NSTickets</a>
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                }
            }
                <div class="collapse navbar-collapse" id="navbarColor02">
                    @{if (user == null || user.LoggedIn == false)
                        {
                            <ul class="navbar-nav mr-auto"></ul>
                            <li   class="nav-item"> @Html.ActionLink("Search", "SearchEvent", "Event")</li>
                        }
                        else if (user.LoggedIn)
                        {

                            <a class="navbar-brand" href="http://localhost:50970/Event">NSTickets</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <ul class="navbar-nav mr-auto">


                                <li class="nav-item   mr-sm-3">
                                    @Html.ActionLink("Profile", "Index", "Profile", new { area = "" }, null)
                                </li>




                                @{ if (user.Role == UserRole.ADMINISTRATOR)
                                    {
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("All Users", "Index", "Admin", new { area = "" }, null)
                                        </li>

                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Activate Events", "ActivateEvent", "Admin", new { area = "" }, null)
                                        </li>

                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Add seller", "AddSeller", "Admin", new { area = "" }, null)
                                        </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("All Tickets", "AllTickets", "Event", new { area = "" }, null)
                                        </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Suspicious users", "SuspiciousUsers", "Admin", new { area = "" }, null)
                                        </li>

                                    }
                                }
                                @{ if (user.Role == UserRole.SELLER)
                                    {
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Add Event", "AddEvent", "Event", new { area = "" }, null)
                                        </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Your Events", "SellerEvents", "Event", new { area = "" }, null)
                                        </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Reserved Tickets", "AllTickets", "Event", new { area = "" }, null)
                                        </li>
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("Approve comments", "ActivateComment", "Event", new { area = "" }, null)
                                        </li>

                                    }
                                }

                                @{
                                    if (user.Role == UserRole.REGISTRATED)
                                    {
                                        <li class="nav-item   mr-sm-3">
                                            @Html.ActionLink("My Tickets", "MyTickets", "Event", new { area = "" }, null)
                                        </li>
                                    }
                                }

                            </ul>
                            <button class="btn-danger"> @Html.ActionLink("Logout", "LogOff", "LogIn", new { area = "" }, null)</button>
                            <li class="nav-item">
                                @Html.ActionLink("Search", "SearchEvent", "Event", new { area = "" }, null)
                            </li>
                                }
                            

                        }


                </div>
            </nav>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
