﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "Index";
    Korisnik us = (Korisnik)Session["US"];
}

<form action="~/Profile/EditUserProfile" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Name</label>
        <input type="text" class="form-control" value="@us.Ime" name="ime" id="inputDefault" required>



        <label class="col-form-label" for="inputDefault">Lastname</label>
        <input type="text" class="form-control" value="@us.Prezime" name="prezime" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Username</label>
        <input type="text" class="form-control" value="@us.Username" name="username" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Password</label>
        <input type="password" class="form-control" value="@us.Password" name="password" id="sifra" required>

        
        <input type="checkbox" onclick="myFunction()">Show Password

        <script>
            function myFunction() {
                var x = document.getElementById("sifra");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>


      <br>
        <label>Gender</label>

        <select name="gender" value="@us.Gender">
            <option>@us.Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>

        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

