﻿@using PR_57_2016.Models;

@{
    ViewBag.Title = "ActivateComment";
}
<style>
    .mb-3 {
        margin-left: 0%;
        width: 30rem;
        float: right;
    }



    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .num {
        width: 100px;
    }

    .btn-success a:hover{
        text-decoration:none;
        
    }
    .btn-success a{
        color:white;
    }

    .btn-danger a:hover {
        text-decoration: none;
    }

    .btn-danger a {
        color: white;
    }


    #main {
        vertical-align: middle;
        width: 100%;
        text-align: left;
    }

        #main section {
            background-size: cover;
            height: 100vh;
            width: 100vw;
            display: table;
        }

            #main section div {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
</style>

<h2>Activate Comments</h2>
@{
    if (ViewBag.Comments != null)
    {
        foreach (var com in ViewBag.Comments)
        {
            if (com.Aproved == CommentEnum.NOTAPROVED && com.Deleted==false)
            {
                <div id="main" class="dialogbox">
                    <div class="body">
                        <span class="tip tip-left"></span>
                        <div class="message">
                            <span>@com.Text</span>
                            <br>
                            <p>Comment posted by:<b>@com.Username</b></p>
                            <p>Event:<b>@com.EventId</b></p>
                            <p><button class="btn-success">@Html.ActionLink("Approve", "ActivateComm", "Event", new { id = com.Text }, null)</button>  <button class="btn-danger">@Html.ActionLink("Discard", "NoComm", "Event", new { id = com.Text }, null)</button></p>
                        </div>
                    </div>
                </div>
                }
            }
        }
    }

