﻿
@{
    ViewBag.Title = "AddEvent";
}




<h2>AddEvent</h2>

@{ 
    if(ViewBag.Remaining!=null)
    {
        <label style="color:red">@ViewBag.Remaining</label>
    }
}

<label style="color:red">@ViewBag.Status</label>
<form action="~/Event/AddEvent" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Name</label>
        <input type="text" class="form-control" placeholder="Insert name" name="name" id="inputDefault" required>

        <select name="type">
            <option value="concert">concert</option>
            <option value="festival">festival</option>
            <option value="cinema">cinema</option>
            <option value="theatre">theatre</option>

        </select>
        <br>
        <label class="col-form-label" for="inputDefault">Number of seats</label>
        <input type="number" min="1" class="form-control" placeholder="Insert number of seats" name="seatsNum" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Date</label>
        <input type="datetime-local" min="@ViewBag.Today" class="form-control" placeholder="insert date" name="date" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Ticket price</label>
        <input type="number" min="1" class="form-control" placeholder="insert price" name="price" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Ticket remaining</label>
        <input type="number" min="1" class="form-control" placeholder="insert number of remaining tickets" name="ticketRem" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Address</label>
        <select name="place">
            @{ foreach (var place in ViewBag.Places)
                {
                    <option value="@place.Value.Place">@place.Value.Place</option>
                 }
               }


        </select>
        <br>

        <label class="col-form-label" for="inputDefault">Poster</label>
        <input type="text" class="form-control" placeholder="insert poster" name="poster" id="inputDefault" required>

       

      

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

