﻿@using PR_57_2016.Models;
@{


    ViewBag.Title = "AllTickets";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>AllTickets</h2>

@{
    foreach (var ticket in ViewBag.Tickets)
    {
        if (ticket.Value.Status == TicketStatus.RESERVED && us.Role == UserRole.SELLER)
        {
            <div class="card text-center">
                <div class="card-header">
                    Ticket
                </div>
                <div class="card-body">
                    <h5 class="card-title">@ticket.Value.NameEvent</h5>
                    <p class="card-text">Price:@ticket.Value.Price Amount:@ticket.Value.Amount</p>
                    <p class="card-text">Type:@ticket.Value.Type Status:@ticket.Value.Status</p>
                    <p class="card-text">Date: @ticket.Value.Date</p>
                    <p class="card-text">Buyer name: @ticket.Value.BuyerName @ticket.Value.BuyerLast</p>


                </div>

            </div>
        }
        if (us.Role == UserRole.ADMINISTRATOR)
        {
            <div class="card text-center">
                <div class="card-header">
                    Ticket
                </div>
                <div class="card-body">
                    <h5 class="card-title">@ticket.Value.NameEvent</h5>
                    <p class="card-text">Price:@ticket.Value.Price Amount:@ticket.Value.Amount</p>
                    <p class="card-text">Type:@ticket.Value.Type Status:@ticket.Value.Status</p>
                    <p class="card-text">Date: @ticket.Value.Date</p>


                </div>

            </div>
        }

    }

}