﻿
@{
    ViewBag.Title = "EditEvent";
}

<h2>EditEvent</h2>

@{
    if (ViewBag.Remaining != null)
    {
        <label style="color:red">@ViewBag.Remaining</label>
    }
    if (ViewBag.Status != null)
    {
        <label style="color:red">@ViewBag.Status</label>
    }
}

<form action="~/Event/EditEvent" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Id</label>
        <input type="text" class="form-control" value="@ViewBag.Event.Id" name="id" id="inputDefault" readonly>


        <label class="col-form-label" for="inputDefault">Seller Id</label>
        <input type="text" class="form-control" value="@ViewBag.Event.SellerId" name="sellerId" id="inputDefault" readonly>

        <label class="col-form-label" for="inputDefault">Name</label>
        <input type="text" class="form-control" value="@ViewBag.Event.Name" name="name" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Number of seats</label>
        <input type="number" class="form-control" min="1" value="@ViewBag.Event.SeatsNum" name="seatsNum" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Date</label>
        <input type="datetime-local" class="form-control" value="@ViewBag.Date" min="@ViewBag.Today" name="date" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Price</label>
        <input type="number" class="form-control" min="1" value="@ViewBag.Event.Price" name="price" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Ticket remaining</label>
        <input type="number" class="form-control" min="1" value="@ViewBag.Event.TicketRem" name="ticketRem" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Status</label>
        <input type="text" class="form-control" value="@ViewBag.Event.Status" name="status" id="inputDefault" readonly>

        <label class="col-form-label" for="inputDefault">Poster</label>
        <input type="text" class="form-control" value="@ViewBag.Event.Poster" name="poster" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Address</label>
        <select name="place">
            @{ foreach (var place in ViewBag.Places)
                {
                    <option value="@place.Value.Place">@place.Value.Place</option>
                }
            }


        </select>

        <br>
        <label>Type</label>

        <select name="type" value="@ViewBag.Event.Type" required>
            <option>@ViewBag.Event.Type</option>
            <option value="concert">Concert</option>
            <option value="cinema">Cinema</option>
            <option value="theatre">Theatre</option>
            <option value="festival">Festival</option>

        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>