﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "EventInfo";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>EventInfo</h2>


<style>
    .mb-3 {
        margin-left: 0%;
        width: 30rem;
        float: right;
    }



    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }

    .tip-up {
        top: -25px; /* Same as body margin top + border */
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
    }

    .tip-down {
        bottom: -25px;
        left: 10px;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }

    .tip-right {
        top: 10px;
        right: -25px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    .dialogbox .body {
        position: relative;
        max-width: 300px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }

    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }

    .num {
        width: 100px;
    }


    #main {
        vertical-align: middle;
        width: 100%;
        text-align: left;
    }

        #main section {
            background-size: cover;
            height: 100vh;
            width: 100vw;
            display: table;
        }

            #main section div {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
            }
</style>

<div class="card mb-3">
    <img class="card-img-top" src="~/images/@ViewBag.Event.Poster" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Event.Name</h5>
        <p class="card-text">Event type: @ViewBag.Event.Type</p>
        <p class="card-text">Number of seats(max): @ViewBag.Event.SeatsNum</p>
        <p class="card-text">Ticket remaining: @ViewBag.Event.TicketRem</p>
        <p class="card-text">Date and time: @ViewBag.Event.Date</p>
        <p class="card-text">Ticket price: @ViewBag.Event.Price</p>
        <p class="card-text">Event status: @ViewBag.Event.Status</p>
        <p class="card-text">Place: @ViewBag.Event.Address.Place</p>

    </div>
</div>

@{
    if (ViewBag.Comments != null)
    {
        foreach (var com in ViewBag.Comments)
        {
            if (us.Role == UserRole.REGISTRATED)
            {
                if (com.Aproved == CommentEnum.APROVED)
                {
                    <div id="main" class="dialogbox">
                        <div class="body">
                            <span class="tip tip-left"></span>
                            <div class="message">
                                <span>@com.Text</span>
                                <br>
                                <p>Comment posted by:<b>@com.Username</b></p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="main" class="dialogbox">
                    <div class="body">
                        <span class="tip tip-left"></span>
                        <div class="message">
                            <span>@com.Text</span>
                            <br>
                            <p>Comment posted by:<b>@com.Username</b></p>
                        </div>
                    </div>
                </div>
            }




        }
    }
}

@{

    if (ViewBag.Event.Date < DateTime.Now && us.Role == UserRole.REGISTRATED)
    {
       
                <form action="~/Event/AddComment" method="post">
                    <textarea id="w3review" style="margin-left:20px" name="text" rows="3" cols="40" placeholder="Write comment..." required></textarea>
                    <br><label style="margin-left:20px">Please rate this event:</label>
                    <input type="number" min="1" max="5" name="grade" required>
                    <input type="hidden" class="form-control" name="eventId" id="inputDefault" value="@ViewBag.Event.Id">
                    <br>

                    <button type="submit" class="btn btn-primary" style="margin-left:20px">Comment</button>
                    <br>
                    <label style="margin-left:20px">Average grade for this event is: @ViewBag.Grade</label>
                    <br>

                    <label style="color:red">@ViewBag.Error</label>
                    <label style="color:red">@ViewBag.Stop</label>
                </form>
        


    }

    }


    <br>
    @{
        if (ViewBag.Event.Status == EventStatus.ACTIVE && ViewBag.Event.TicketRem > 0 && ViewBag.Event.Date > DateTime.Now && us.Role == UserRole.REGISTRATED)
        {
            <form action="~/Event/BuyTicket" method="post">
                <div class="form-group">
                    <div class="card text-center">
                        <div class="card-header">
                            Buy your ticket!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@ViewBag.Event.Name</h5>
                            <p class="card-text">Price:@ViewBag.Event.Price       Place: @ViewBag.Event.Address.Place</p>
                            <p class="card-text">Ticket remaining: @ViewBag.Event.TicketRem      Date: @ViewBag.Event.Date</p>
                            <p class="card-text">Insert number of cards to buy:</p>
                            <input class="num" type="number" min="1" name="amount" placeholder="0">
                            <select name="type">
                                <option value="regular">REGULAR</option>
                                <option value="vip">VIP</option>
                                <option value="fanpit">FANPIT</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="hidden" class="form-control" name="price" id="inputDefault" value="@ViewBag.Event.Price">
                            <input type="hidden" class="form-control" name="eventt" id="inputDefault" value="@ViewBag.Event.Id">
                            <input type="hidden" class="form-control" name="buyerName" id="inputDefault" value="@us.Id">
                        </div>

                    </div>
                </div>

            </form>
        }
        else
        {
            if (ViewBag.Event.Status == EventStatus.ACTIVE && ViewBag.Event.TicketRem > 0 && ViewBag.Event.Date > DateTime.Now)
            {

            }
            else
            {
                <h style="color:red">This event is sold out or it was held!</h>
            }
        }
        if (ViewBag.Price != null)
        {
            <form action="~/Event/SubmitRes" method="post">
                <div class="form-group">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Your reservation</h5>
                            <p class="card-text">Event: @ViewBag.Event.Name Price: @ViewBag.Price</p>
                            <p class="card-text">Ticket type: @ViewBag.Ticket.Type Number of tickets: @ViewBag.Ticket.Amount </p>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <input type="hidden" class="form-control" name="price" id="inputDefault" value="@ViewBag.Price">
                            <input type="hidden" class="form-control" name="eventt" id="inputDefault" value="@ViewBag.Event.Id">
                            <input type="hidden" class="form-control" name="buyerName" id="inputDefault" value="@us.Id">
                            <input type="hidden" class="form-control" name="amount" id="inputDefault" value="@ViewBag.Ticket.Amount">
                            <input type="hidden" class="form-control" name="type" id="inputDefault" value="@ViewBag.Ticket.Type">
                            <input type="hidden" class="form-control" name="date" id="inputDefault" value="@ViewBag.Event.Date">
                        </div>
                    </div>
                </div>
            </form>
        }
        if (ViewBag.Num != null)
        {
            <label style="color:red">@ViewBag.Num</label>
        }

    }




