﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "MyTickets";
}

<style>
    .btn-danger a:hover {
        text-decoration: none;
    }

    .btn-danger a {
        color: white;
    }
</style>

<h2>MyTickets</h2>

<p><button class="btn-danger">@Html.ActionLink("Search", "SearchTickets", "Event", new { }, null)</button></p>

@{
    foreach (var ticket in ViewBag.Tickets)
    {
        if (ticket.Value.Status==TicketStatus.RESERVED)
        {
            <div class="card text-center">
                <div class="card-header">
                    Ticket
                </div>
                <div class="card-body">
                    <h5 class="card-title">@ticket.Value.NameEvent</h5>
                    <p class="card-text">Price:@ticket.Value.Price Amount:@ticket.Value.Amount</p>
                    <p class="card-text">Type:@ticket.Value.Type Status:@ticket.Value.Status</p>
                    <p class="card-text">Date: @ticket.Value.Date</p>
                </div>
                @{ if (ticket.Value.Date >= DateTime.Now && ticket.Value.Status != TicketStatus.CANCELED)
                    {
                        <p><button class="btn-danger">@Html.ActionLink("Cancel", "CancelTicket", "Event", new { id = ticket.Value.Id }, null)</button></p>
                    }

                }


            </div>
        }

    }

}
