﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "SearchEvent";
    Korisnik us = (Korisnik)Session["US"];
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>

<h2>SearchEvent</h2>



<br>

<form action="~/Event/SearchEvent" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Event name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        <select name="place">
            <option>Choose place</option>
            @{ foreach (var place in ViewBag.Places)
                {
                    <option value="@place.Value.Place">@place.Value.Place</option>
                }
            }


        </select>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="inputAddress">Date from:</label>
            <input type="date" class="form-control" name="date1" placeholder="Choose date">
        </div>
        <div class="form-group">
            <label for="inputAddress">Date to:</label>
            <input type="date" class="form-control" name="date2" placeholder="Choose date">
        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Price from:</label>
            <input type="text" class="form-control" name="price1" placeholder="Enter name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Price to:</label>
            <input type="text" class="form-control" name="price2" placeholder="Enter name">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
@{
    if (ViewBag.Error != null)
    {
        <label style="color:red">@ViewBag.Error</label>
    }
    if (ViewBag.Errorp != null)
    {
        <label style="color:red">@ViewBag.Errorp</label>
    }
    if (ViewBag.Filter!= null)
    {
        <label style="color:red">@ViewBag.Filter</label>
    }

}

@{
    if (ViewBag.Find != null)
    {
        <form action="~/Event/SortEvent" method="post">
            <label>Sort results by:</label>
            <select name="sortType">
                <option value="nameaz">Name a-z</option>
                <option value="nameza">Name z-a</option>
                <option value="dateasc">Date asc</option>
                <option value="datedsc">Date dsc</option>
                <option value="priceasc">Price asc</option>
                <option value="pricedsc">Price dsc</option>
                <option value="placeasc">Place asc</option>
                <option value="placedsc">Place dsc</option>
            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>

        <form action="~/Event/FilterEvent" method="post">
            <div id="list1" class="dropdown-check-list" tabindex="100">
                <select name="filterType">
                    <option value="concert">Concerts</option>
                    <option value="theatre">Theatre</option>
                    <option value="cinema">Cinemas</option>
                    <option value="festival">Festivals</option>
                    <option value="usold">Unsold</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <br>

        <div class="row">

            @{
                foreach (var ev in ViewBag.Find)
                {

                    <div class="card">
                        <div class="card col-6">
                            <img src="~/images/@ev.Value.Poster" alt="@ev.Value.Name" style="width:100%">
                            <h1>@ev.Value.Name</h1>
                            <p class="price">@ev.Value.Price din</p>
                            <p>@ev.Value.Type</p>
                            <p>@ev.Value.Date</p>
                            <p>@ev.Value.Address.Place</p>
                            @{ if (@ev.Value.TicketRem == 0)
                                {
                                    <label style="color:red">SOLD OUT</label>
                                }
                                else
                                {
                                    if (us!=null)
                                    {
                                    <p><button>@Html.ActionLink("View more", "EventInfo", "Event", new { id = ev.Value.Id }, null)</button></p>
                                    }
                                }
                                }
                        </div>
                    </div>
                }
            }

        </div>
    }
}



