﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "SearchTickets";
    Korisnik us = (Korisnik)Session["US"];
}

<h2>SearchTickets</h2>

<form action="~/Event/SearchTickets" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="hidden" class="form-control" name="userId" id="inputDefault" value="@us.Id">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Event name</label>
            <input type="text" class="form-control" name="eventName" placeholder="Enter name">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="inputAddress">Date from:</label>
            <input type="date" class="form-control" name="dateFrom" placeholder="Choose date">
        </div>
        <div class="form-group">
            <label for="inputAddress">Date to:</label>
            <input type="date" class="form-control" name="dateTo" placeholder="Choose date">
        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Price from:</label>
            <input type="text" class="form-control" name="priceFrom" placeholder="Enter name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Price to:</label>
            <input type="text" class="form-control" name="priceTo" placeholder="Enter name">
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</form>

@{ if (ViewBag.Errorp != null)
    {
        <label style="color:red">@ViewBag.Errorp</label>
    }
    if (ViewBag.Error != null)
    {
        <label style="color:red">@ViewBag.Error</label>
    }
    if (ViewBag.Filter != null)
    {
        <label style="color:red">@ViewBag.Filter</label>
    }

}

@{
    if (ViewBag.Tickets != null)
    {
        <form action="~/Event/SortTickets" method="post">
            <label>Sort results by:</label>
            <select name="sortType">
                <option value="nameaz">Name a-z</option>
                <option value="nameza">Name z-a</option>
                <option value="dateasc">Date asc</option>
                <option value="datedsc">Date dsc</option>
                <option value="priceasc">Price asc</option>
                <option value="pricedsc">Price dsc</option>

            </select>
            <button type="submit" class="btn btn-primary">Sort</button>
        </form>

        <form action="~/Event/FilterTickets" method="post">
            <div id="list1" class="dropdown-check-list" tabindex="100">
                <select name="filterType">
                    <option value="vip">VIP</option>
                    <option value="fanpit">FANPIT</option>
                    <option value="regular">REGULAR</option>
                    <option value="canceled">CANCELED</option>
                    <option value="reserved">RESERVED</option>

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <br>


        foreach (var ticket in ViewBag.Tickets)
        {
            
        <div class="card text-center">
            <div class="card-header">
                Ticket
            </div>
            <div class="card-body">
                <h5 class="card-title">@ticket.Value.Eventt</h5>
                <p class="card-text">Price:@ticket.Value.Price Amount:@ticket.Value.Amount</p>
                <p class="card-text">Type:@ticket.Value.Type Status:@ticket.Value.Status</p>
                <p class="card-text">Date: @ticket.Value.Date</p>
            </div>
            @{ if (ticket.Value.Date >= DateTime.Now && ticket.Value.Status != TicketStatus.CANCELED)
                {
                    <p><button class="btn-danger">@Html.ActionLink("Cancel", "CancelTicket", "Event", new { id = ticket.Value.Id }, null)</button></p>
                }

            }


        </div>
            

        }
    }


}