﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "SellerEvents";
}

<h2>Events added by you</h2>

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>



<div class="row">

    @{
        foreach (var ev in ViewBag.Seller)
        {

                <div class="card">
                    <div class="card col-6">
                        <img src="~/images/@ev.Value.Poster" alt="@ev.Value.Name" style="width:100%">
                        <h1>@ev.Value.Name</h1>
                        <p class="price">@ev.Value.Price din</p>
                        <p>@ev.Value.Type</p>
                        <p>@ev.Value.Date</p>
                        <p>@ev.Value.Address.Place</p>
                        @{ if (@ev.Value.TicketRem == 0)
                            {
                                <label style="color:red">SOLD OUT</label>
                                }

                            }
                                <p><button>@Html.ActionLink("Edit", "EditEvent", "Event", new { id = ev.Value.Id }, null)</button></p>
                                <p><button class="btn-outline-info">@Html.ActionLink("View more", "EventInfo", "Event", new { id = ev.Value.Id }, null)</button></p>
                            
                        
                    </div>
                </div>
            
        }
    }
</div>