﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "Home Page";
}
<style>
    .btn-success a:hover {
        text-decoration: none;
    }

    .btn-success a {
        color: white;
    }

    .btn-info a:hover {
        text-decoration: none;
    }

    .btn-info a {
        color: white;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

        .card button:hover {
            opacity: 0.7;
        }
</style>

<div>
    <h1>Online ticket shop NSTickets</h1>

    <p>Buy your ticket now!</p>
    <button class="btn-success">@Html.ActionLink("Log in", "Index", "Login", new { area = "" }, null)</button>
    <br>
    <p>New here? Make your account!</p>
    <button class="btn-info">@Html.ActionLink("Sign up", "Index", "Signup", new { area = "" }, null)</button>

    <div class="row">

        @{
            foreach (var ev in ViewBag.Events)
            {
                if (ev.Value.Status == EventStatus.ACTIVE && ev.Value.Deleted==false)
                {
                    <div class="card">
                        <div class="card col-6">
                            <img src="~/images/@ev.Value.Poster" alt="@ev.Value.Name" style="width:100%">
                            <h1>@ev.Value.Name</h1>
                            <p class="price">@ev.Value.Price din</p>
                            <p>@ev.Value.Type</p>
                            <p>@ev.Value.Date</p>
                            <p>@ev.Value.Address.Place</p>

                            <b>Log in or sign up to see more!</b>

                        </div>
                    </div>
                }
            }
        }
    </div>



</div>