﻿
@{
    ViewBag.Title = "AddSeller";
}

<h2>Add new seller</h2>
<label style="color:red">@ViewBag.Mess</label>

<form action="~/Admin/AddSeller" method="post">
    <div class="form-group">
        <label class="col-form-label" for="inputDefault">Name</label>
        <input type="text" class="form-control" placeholder="Insert name" name="ime" id="inputDefault" required>



        <label class="col-form-label" for="inputDefault">Lastname</label>
        <input type="text" class="form-control" placeholder="Insert lastname" name="prezime" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Username</label>
        <input type="text" class="form-control" placeholder="Default input" name="username" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Password</label>
        <input type="password" class="form-control" placeholder="Default input" name="password" id="inputDefault" required>

        <label class="col-form-label" for="inputDefault">Birth date</label>
        <input type="date" class="form-control" max="@ViewBag.Today" placeholder="Default input" name="birthDate" id="inputDefault" required>

        <label>Gender</label>

        <select name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>

        </select>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

