﻿@using PR_57_2016.Models;
@{
    ViewBag.Title = "SuspiciousUsers";
}

<style>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>

<h2>Suspicious Users</h2>

@{
    if (ViewBag.Find == null)
    {

    }
    else
    {
        <table id="myTable">
            <tr class="header">
                <th>Name</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Birth date</th>
                <th>Username</th>
                <th>Num of cancelations</th>
                <th></th>
            </tr>
            @{
                foreach (var us in ViewBag.Find)
                {
                    if (us.Value.Deleted == false && us.Value.Blocked == false && us.Value.Role != UserRole.ADMINISTRATOR)
                    {
                        <tr>
                            <td>@us.Value.Ime</td>
                            <td>@us.Value.Prezime</td>
                            <td>@us.Value.Gender</td>
                            <td>@us.Value.BirthDate.ToString()</td>
                            <td>@us.Value.Username</td>
                            <td>@us.Value.Canceled</td>
                            <td><button class="btn-danger">@Html.ActionLink("Block", "BlockUser", "Admin", new { id = us.Value.Id }, null)</button></td>
                        </tr>
                    }
                }
            }
        </table>
    }
}